@font-face {
  font-family: "TTLakes-Bold";
  font-weight: 700;
  font-style: bold;
  src: url("../fonts/TTLakes-Bold.woff2") format("wolf2"), url("../fonts/TTLakes-Bold.woff") format("woff");
}
@font-face {
  font-family: "TTLakes-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTLakes-Medium.woff2") format("wolf2"), url("../fonts/TTLakes-Medium.woff") format("woff");
}
@font-face {
  font-family: "TTLakes-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TTLakes-Regular.woff2") format("wolf2"), url("../fonts/TTLakes-Regular.woff") format("woff");
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  margin: 0;
  font-size: 16px;
  font-family: "TTLakes-Regular", "Aria", sans-serif;
  font-weight: 400;
}

.container {
  padding: 0 16px;
}

.header {
  border-bottom: 1px solid #D9FFF5;
}
.header__inner {
  display: flex;
  align-items: center;
  height: 88px;
}
.header__repair {
  position: relative;
  order: 4;
}
.header__repair::before {
  content: "";
  position: absolute;
  display: block;
  top: calc(50% - 16px);
  right: calc(100% + 20px);
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: #EAEAEA;
}
.header__checkstatus {
  order: 5;
  margin-left: 16px;
}

.burger {
  display: block;
  height: 40px;
  min-width: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  order: 1;
}
.burger__line-center {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 9px);
  width: 10px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
}
.burger__line-center::before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
  transform: translateY(-7px);
}
.burger__line-center::after {
  content: "";
  position: absolute;
  display: block;
  width: 14px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
  transform: translateY(7px);
}

.logo {
  flex-grow: 1;
  order: 2;
  height: 52px;
}
.logo__link {
  margin-left: 20px;
}

.feedback {
  order: 3;
  display: flex;
  min-width: 152px;
}
.feedback__profile, .feedback__chat {
  margin-left: 16px;
}
.feedback[hidden] {
  display: none;
}

.menu {
  max-width: 320px;
  width: 320px;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  scrollbar-width: none;
}
.menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.menu__head {
  display: flex;
  align-items: center;
}
.menu .logo__link {
  margin-left: 16px;
}
.menu .logo::before {
  display: none;
}
.menu > .container {
  padding: 19px 24px 32px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.menu__search {
  order: 3;
  height: 40px;
}
.menu__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menu__contacts {
  margin-top: auto;
}
.menu__email {
  display: block;
  margin-top: 27px;
  margin-bottom: 12px;
}
.menu__tel {
  display: block;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.6px;
}
.menu__lang-item--active {
  color: #7E7E82 !important;
}
.menu a {
  color: #1B1C21;
}

.navigation__list {
  margin-top: 50px;
}
.navigation__item {
  position: relative;
  font-weight: 700;
  padding: 5px 24px;
  margin-left: -24px;
  margin-bottom: 32px;
  cursor: pointer;
}
.navigation__item--active {
  font-weight: 500;
  position: relative;
  color: #7E7E82;
}
.navigation__item--active::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 16px);
  left: 0;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  border-radius: 50px 0px 0px 50px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.navigation__item::after {
  content: "";
  background: #41F6D7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  border-radius: 7px 0px 0px 7px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  transition: all 0.35s;
}
.navigation__item:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}
.navigation__item:active {
  opacity: 0.5;
}

.burger__close:before, .burger__close:after {
  position: absolute;
  left: calc(50% - 1px);
  top: calc(50% - 11px);
  content: " ";
  height: 22px;
  width: 2px;
  background-color: #fff;
  border-radius: 1px;
}
.burger__close:before {
  transform: rotate(45deg);
}
.burger__close:after {
  transform: rotate(-45deg);
}

.services {
  background-color: #F8F8F8;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}
.services__title {
  position: relative;
  font-size: 28px;
  font-family: "TTLakes-Bold";
  letter-spacing: -0.6px;
  padding: 24px 0;
  color: #1B1C21;
}
.services__title::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 20px);
  left: -16px;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 50px 0px 0px 50px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.services__request, .services__status {
  display: none;
}
.services__inner {
  display: block;
}
.services__cps {
  width: 100%;
  margin: 16px 0 27px;
}
.services__text {
  margin: 24px 0 16px;
}
.services__details-summary {
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  margin-left: 30px;
  position: relative;
}
.services__details-summary::before {
  content: url("../img/arrow-spoiler.png");
  position: absolute;
  left: -16px;
  transform: rotate(-90deg);
}
.services__details[open] .services__details-summary::before {
  transform: rotate(0deg);
}
.services__image {
  margin-left: -16px;
  margin-right: -16px;
}

.nav__list {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: center;
}
.nav__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.nav__item {
  padding: 8px 16px;
}
.nav__item--active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}
.nav__link {
  color: #7E7E82;
  white-space: nowrap;
  font-size: 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px 0 24px;
  }
  .header__repair {
    margin-left: 42px;
  }
  .logo {
    position: relative;
  }
  .logo::before {
    content: "";
    position: absolute;
    display: block;
    top: calc(50% - 16px);
    right: calc(100% - 20px);
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA;
  }
  .logo__link {
    margin-left: 40px;
  }
  .feedback[hidden] {
    display: flex;
  }
  .services__inner {
    display: flex;
  }
  .services__image {
    flex: 1 0 50%;
    padding-left: 48px;
  }
  .services__title::before {
    left: -24px;
  }
  .services__image {
    margin: 0;
  }
}
@media (min-width: 1120px) {
  .header {
    border-bottom: none;
  }
  .header__inner {
    display: none;
  }
  .container {
    padding: 0 32px 0 34px;
    max-width: 1120px;
    margin: 0 auto;
  }
  .services__image {
    padding-right: 0;
    padding-left: 36px;
  }
  .services__title {
    padding: 42px 0 16px;
    flex-grow: 1;
  }
  .services__title::before {
    top: calc(50% - 8px);
    left: -34px;
    width: 3px;
    border-radius: 2px;
  }
  .services__details {
    cursor: pointer;
  }
  .services__request, .services__status {
    display: flex;
    padding-top: 30px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    margin-left: 16px;
  }
  .services__request-link, .services__status-link {
    margin-right: 8px;
    color: #1B1C21;
  }
  .services__btn {
    display: flex;
  }
  .nav__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}