@media (min-width: 1120px) {
    .header {
        border-bottom: none;
            &__inner {
                display: none;
            }
    }

    .container {
        padding: 0 32px 0 34px;
        max-width: 1120px;
        margin: 0 auto;
    }

    .services {
        &__image {
            padding-right: 0;
            padding-left: 36px;
        }

        &__title {
            padding: 42px 0 16px;
            flex-grow: 1;
                &::before {
                    top: calc(50% - 8px);
                    left: -34px;
                    width: 3px;
                    border-radius: 2px;
                }
        }

        &__details {
            cursor: pointer;
        }
        
        &__request, &__status {
            display: flex;
            padding-top: 30px;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            margin-left: 16px;
            &-link {
                margin-right: 8px;
                color: $text-dark;
                }
        }
        &__btn {
            display: flex;
        }
    }

    .nav {
        &__list {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        // &__link {
        //     white-space: wrap;
        // }
    }
    .brands {
        & > .container {
            padding: 0 32px 34px;
        }

        &__title {
            padding-left: 32px;
        }
        &-slider{
            &__wrapper {
                gap: 16px 48px;
            }
            &__slide:nth-child(7), &__slide:nth-child(8)  {
                display: block;
            }
        }
        &__image {
            width: 240px;
        }
    }
}