@import 'colors'; 

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,*::after,*::before {
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-width: 320px;
    margin: 0;
    font-size: 16px;
}

.container {
    padding: 0 16px;
}


// header
.header {
    border-bottom: 1px solid $border;
    &__inner {
        display: flex;
        align-items: center;
        height: 88px;
    }
    
    &__repair {
        position: relative;
        order: 4;
        margin-left: 42px;
        &::before {
            content: "";
            position: absolute;
            display: block;
            top: calc(50% - 16px);
            right: calc(100% + 20px);
            width: 2px;
            height: 32px;
            border-radius: 1px;
            background-color: $beige;
        }
    }
    &__checkstatus {
        order: 5;
        margin-left: 16px;
    }
    
}

.burger {
    display: block;
    height: 40px;
    min-width: 40px;
    background-color: $pink;
    border-radius: 50%;
    position: relative;
    order: 1;
        &__line-center {
            position: absolute;
            top: calc(50% - 1px);
            left: calc(50% - 9px);
            width: 10px;
            height: 2px;
            background-color: white;
            border-radius: 1px; 
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 18px;
                    height: 2px;
                    background-color: white;
                    border-radius: 1px;
                    transform: translateY(-7px);
                }
                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 14px;
                    height: 2px;
                    background-color: white;
                    border-radius: 1px;
                    transform: translateY(7px);
                }
            }
}

.logo {
    flex-grow: 1;
    order: 2;
    &__link {
        margin-left: 20px;
    }
}

.feedback {
    order: 3;
    display: flex;
    min-width: 152px;
        &__profile, &__chat {
            margin-left: 16px;
        }
        &[hidden] {
            display: none;
        }
}

// Servicess
.services {
    background-color: $bg-main;
    &__title {
        position: relative;
        font-size: 28px;
        padding: 24px 0;
    }
            &__title::before {
                content: '';
                display: block;
                position: absolute;
                top: calc(50% - 20px);
                left: -16px;
                width: 4px;
                height: 40px;
                background-color: $menu-link-active;
                border-radius: 50px 0px 0px 50px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
            }

    
}

.nav {
    &__list {
        display: flex;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
        }
    }
    &__item {
        padding: 8px 16px;
            &--active {
                border: 2px solid #B8FFEC;
                border-radius: 6px;
            }
    }
    &__link {
        color: $text-light;
        white-space: nowrap;
    }
}

// Медиа запросы
@import 'tablet-768';
@import 'desktop-1120';