.brands {
    border-top: 1px solid $border-brands;
        & > .container {
            position: relative;
            padding: 0 0 0 16px;
            &::after {
                content: '';
                position: absolute;
                display: block;
                height: 72px;
                width: 24px;
                top: 18%;
                right: 0%;
                background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
                z-index: 3;
            }
        }
    &__image {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 224px;
        width: 224px;
        height: 72px;
        border: 1px solid $beige;
        border-radius: 6px;
        padding: 0 16px;
        background-color: #fff;
    }
        &-slider {
            height: 136px;
            padding: 24px 0;
            &__slide {
              margin-right: 16px;
                flex-shrink: 1;
            }
        }
        &__btn {
            &--hidden {
                display: none;
            }
        }
}

.swiper {
    &-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: $bullet;
        &-active {
            background-color: $bullet-active;
        }
    }
}
