$pink: #FF3E79;
$beige: #EAEAEA;
$border: #D9FFF5;
$border-brands: #D9FFF5;
$bg-block: #F2F2F2;
$bg-main: #F8F8F8;
$menu-link-active: #41F6D7;
$text-light: #7E7E82;
$text-dark: #1B1C21;
$text-medium: #1B1C21;
$bullet: #DDD;
$bullet-active: #B5B6BC;
