@media (min-width: 1120px) {
    .header {
        border-bottom: none;
            &__inner {
                display: none;
            }
    }

    .main {
      position: absolute;
      left: 320px;
    }

    .menu {
      box-shadow: -10px 0px 28px -16px rgba(14, 24, 80, 0.2);
      transform: translateX(0);
      opacity: 1;
      transition: 1s;
      &--mute {
        opacity: 0.04;
        transition: opacity 1s
      }
    }

    .burger {
      display: none;
    }

    .logo {
      &__link {
        margin-left: 0;
      }
      &::before {
        display: none;
      }
    }

    .container {
        padding: 0 32px 0 34px;
        max-width: 1120px;
        margin: 0 auto;

    }

    .services {
        &__image {
            padding-right: 0;
            padding-left: 36px;
        }

        &__title {
            padding: 42px 0 16px;
            flex-grow: 1;
                &::before {
                    top: calc(50% - 8px);
                    left: -34px;
                    width: 3px;
                    border-radius: 2px;
                }
        }

        &__details {
            cursor: pointer;
        }

        &__request, &__status {
            display: flex;
            padding-top: 30px;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            margin-left: 16px;
            &-link {
                margin-right: 8px;
                color: $text-dark;
                }
        }
        &__btn {
            display: flex;
        }
    }

    .nav {
        &__list {
            flex-wrap: wrap;
        }

    }
    .brands {
        & > .container {
            padding: 0 32px 34px;
        }


        &-slider{
          &__wrapper {
            gap: 16px 32px;
          }
          &__slide {
            width: 240px;
          }
          &__slide:nth-child(7), &__slide:nth-child(8)  {
            display: block;
          }
        }
        &__image {
            width: 240px;
        }
    }

    .title {
      padding-left: 32px;
    }

    .navigation {
      &__item::after {
        content: "";
        background: $menu-link-active;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100%;
        right: 100%;
        z-index: -1;
        padding: 0.85em 0.75em;
        display: block;
        border-radius: 7px 0px 0px 7px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        transition: all 0.35s;
      }
        &__item:hover::after {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                transition: all 0.35s;
              }
        &__item:hover {
            opacity: .5;
        }
    }
    .electronics {
      &-slider {
        &__wrapper{
          gap: 16px 32px;
        }
        &__slide {
          width: 240px;
        }
    }
}
.price {
  &-slider {
    &-header {
      &__title {
        &--header {
          flex-basis: 50%;
        }
        &--price {
          flex-basis: 20%;
        }
        &--time {
          flex-basis: 30%;
        }
      }
    }
    &__description {
      flex-basis: 50%;
      &--price {
        flex-basis: 20%;
      }
      &--time {
        flex-basis: 30%;
      }
    }
  }
}
.call, .feedback {
  &__close {
    display: block;
  }
}
}
