.menu {
    max-width: 320px;
    width: 320px;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    scrollbar-width: none;
    transform: translateX(-100%);
    opacity: 0;
    transition: 1s;
    z-index: 10;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
    }
        &__head {
            display: flex;
            align-items: center;
        }
        & > .container {
            padding: 19px 24px 32px;
            height: 100vh;
            background-color: white;
            display: flex;
            flex-direction: column;
        }
        &__search {
            order: 3;
            height: 40px;
        }
        &__inner {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        &__contacts {
            margin-top: auto;

        }
        &__email {
            display: block;
            margin-top: 27px;
            margin-bottom: 12px;
        }
        &__tel {
            display: block;
            margin-bottom: 40px;
            font-weight: 700;
            font-size: 24px;
            letter-spacing: -0.6px;
        }

        &__lang {
            &-item--active {
                color: $text-light !important;
            }
        }
        a {
            color: $text-dark;
        }

        &--active {
          transform: translate(0);
          opacity: 1;

        }
        
}

.logo {
  &__link {
    margin-left: 16px;
}
}



.navigation {
    &__list {
        margin-top: 50px;
    }
    &__item {
        position: relative;
        font-weight: 700;
        padding: 5px 24px;
        margin-left: -24px;
        margin-bottom: 32px;
        cursor: pointer;
            &--active {
                font-weight: 500;
                position: relative;
                color: $text-light;
                  &::before {
                      content: '';
                      display: block;
                      position: absolute;
                      top: calc(50% - 16px);
                      left: 0;
                      width: 4px;
                      height: 32px;
                      background-color: $menu-link-active;
                      border-radius: 50px 0px 0px 50px;
                      transform: matrix(-1, 0, 0, 1, 0, 0);
                  }
            }
    }

}

.burger {
    &__close:before, &__close:after {
        position: absolute;
        left: calc(50% - 1px);
        top: calc(50% - 11px);
        content: ' ';
        height: 22px;
        width: 2px;
        background-color: #fff;
        border-radius: 1px;
        }
    &__close:before {
        transform: rotate(45deg);
    }
    &__close:after {
        transform: rotate(-45deg);
    }
}

.menu-feedback {
  order: 3;
  display: flex;
  min-width: 152px;
      &__profile, &__chat {
          margin-left: 16px;
      }
      &[hidden] {
          display: none;
      }
}
