@media (min-width: 768px) {
    .container {
        padding: 0 24px;
    }
    .header {
        &__repair {
            margin-left: 42px;
        }
        &__feedback[hidden] {
          display: flex;
      }
    }

    .logo {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            display: block;
            top: calc(50% - 16px);
            right: calc(100% - 20px);
            width: 2px;
            height: 32px;
            border-radius: 1px;
            background-color: $beige;
        }
        &__link {
            margin-left: 40px;
        }
    }


    .services {
        &__inner {
            display: flex;
        }
        &__image {
            flex: 1 0 50%;
            padding-left: 48px;
        }
        &__title {
                &::before {
                    left: -24px;
                }
        }
        &__image {
            margin: 0;
        }
    }

    .brands {
        &-slider {
          height: 196px;
          &--show {
              height: 100%;
            }
          &__wrapper {
            flex-wrap: wrap;
            gap: 14px 24px;
            height: auto;
            }
            &__slide {
                width: 224px;
                margin-right: 0;
            }
            &__pagination {
                display: none;
            }
        }
        &__title {
          padding-left: 24px;
        }
        & > .container {
            padding: 0 24px 32px;
            &::after {
                display: none;
            }
        }

    }
    .btn-more {
      &--hidden {
        display: block;
      }
      &--rotate::before {
        transform: rotate(180deg);
      }
    }

    .electronics {
      &-slider {
        height: 196px;
        &__pagination {
          display: none;
        }
        &__slide {
          margin-right: 0;
          width: 224px;
        }
        &--show {
          height: 100%;
        }
        &__wrapper {
          flex-wrap: wrap;
          gap: 24px 24px;
        }
      }
      &__title {
        padding-left: 24px;
      }
      & > .container {
        padding: 0 24px 32px;
    }
    }

    .price {
      & > .container {
        padding: 0 24px 40px 24px;
        &::after {
          display: none;
        }
      }
      &-slider {
        height: 100%;
        &-header {
          display: flex;
          padding: 32px 16px 16px;
          &__title {
            &--header {
              display: block;
              flex-basis: 55%;
            }
            &--price {
              flex-basis: 15%;
            }
            &--time {
              flex-basis: 35%;
            }
          }
        }
        &__title {
          display: none;
          &--header {
            display: block;
            flex-basis: 55%;
          }
          &--price {
            flex-basis: 15%;
          }
          &--time {
            flex-basis: 35%;
          }
        }
        &__wrapper {
          flex-direction: column;
          background-color: white;
          border-radius: 6px;
        }

        &__pagination {
          display: none;
        }
        &__slide {
          margin: 0;
          width: 100%;
          height: 64px;
          display: flex;
          align-items: center;
        }
        &__inner {
          display: flex;
          padding: 22px 0;
          border-bottom: 1px solid $beige;
          width: 100%;
            &--no-border{
              border-bottom: none;
            }
        }
        &__description {
          margin: 0;
          flex-basis: 55%;
          &--price {
            flex-basis: 15%;
          }
          &--time {
            flex-basis: 35%;
          }
        }
      }
      &__description {
        width: auto;
        max-width: 421px;
      }

      &__link {
        width: 320px;
        &::before {
          top: calc(47% + 2px);
          right: 0;
        }
        &::after {
            top: calc(47% - 3px);
            right: 0;
         }
      }
    }

    .feedback {
      width: 440px;
      &__inner {
        padding: 40px 32px;
      }
      &__close {
        top: 32px;
        left: -72px;
      }
      &__title {
        margin-top: 0;
        &::before {
          top: 34px;
        }
      }
    }

    .call {
      &__inner {
        padding: 40px 32px;
      }
      &__close {
        top: 32px;
        left: -72px;
      }
      &__title {
        margin-top: 0;
        &::before {
          top: 34px;
        }
      }
    }

    .footer {
      &__inner {
        display: flex;
      }
      &__date {
        text-align: left;
      }
      &__info {
        text-align: right;
      }
      &__inner {
        padding: 32px 0;
      }
      &__date, &__politics, &__info {
        margin: 0;
        padding: 0;
      }
    }
}

