// Стили слайдера
@import '_swiper';
@import '_swiper-vars';
@import '_pagination';

@import '_colors';
@import '_fonts';

html {
    margin: 0;
    padding: 0;
}

*,*::after,*::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: 'TTLakes-Regular', 'Aria', sans-serif;
    font-weight: 400;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    padding: 0 16px;
    background-color: $bg-main;
}

.wrapper {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.main, .header {
  opacity: 1;
  transition: opacity 1s;
  &--mute {
    opacity: 0.04;
    transition: opacity 1s
  }
}

.title {
  text-transform: uppercase;
  line-height: 24px;
  padding: 16px;
  max-width: 1120px;
  margin: auto;
  background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.more {
  display: block;
  width: 36px;
  height: 36px;
  border: 2px solid $pink;
  border-radius: 50%;
  position: relative;
      &::before {
          content: '';
          display: block;
          position: absolute;
          width: 9px;
          height: 2px;
          background-color: $pink;
          top: calc(50% + 2px);
          left: calc(50% - 4.5px);
          transform: rotate(-45deg);
          border-radius: 2px;
      }
      &::after {
          content: '';
          display: block;
          position: absolute;
          width: 9px;
          height: 2px;
          background-color: $pink;
          top: calc(50% - 3px);
          left: calc(50% - 4.5px);
          transform: rotate(45deg);
          border-radius: 2px;

      }
  }

  .btn-more {
    display: block;
    border: none;
    padding-left: 31px;
    color: $text-medium;
    font-size: 16px;
    font-family: "TTLakes-Medium", "Aria", sans-serif;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.2px;
    position: relative;
    cursor: pointer;
    background-color: $bg-main;
        &::before {
            content: url('../img/arrow-spoiler.png');
            position: absolute;
            left: 7px;
            transform: rotate(0deg);
        }
}

.section, .footer {
  border-top: 1px solid $border-brands;
}

.btn {
  background-color: $pink;
  font-size: 12px;
  font-family: 'TTLakes-Medium', 'Aria', sans-serif;
  color: white;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  border: none;
  border-radius: 16px;
  padding: 4px 40px 4px 12px;
  position: relative;
  cursor: pointer;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 9px;
      height: 2px;
      background-color: white;
      top: calc(47% + 2px);
      right: 11px;
      transform: rotate(-45deg);
      border-radius: 2px;
  }
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 9px;
        height: 2px;
        background-color: white;
        top: calc(47% - 3px);
        right: 11px;
        transform: rotate(45deg);
        border-radius: 2px;

  }
}

.modal {
  &-title {
    color: $text-medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-family: 'TTLakes-Bold';
    font-weight: 700;
  }
}

.textarea {
  height: 118px;
}

// header
@import '_header';

// mobile_menu
@import '_mobile_menu';

// Servicess
@import '_services';

// Brands Slider
@import '_brands';

// Electronics slider
@import '_electronics';

// Price slider
@import '_price';

// Footer
@import '_footer';

// Modal__feedback
@import '_feedback';

// Modal__call
@import '_call';

// Медиа запросы
@import '_tablet-768';
@import '_desktop-1120';



